{
  "DISCORD_TOKEN": "YOUR_DISCORD_BOT_TOKEN",
  "YOUTUBE_API_KEY": "YOUR_YOUTUBE_API_TOKEN",
  "GUILD_ID": "YOUR_DISCORD_SERVER_ID",
  "NOTIFYCHANNEL_ID": "YOUR_DISCORD_CHANNEL_ID_FOR_NOTIFY",
  "YTSTATECHANNEL_ID": "YOUR_DISCORD_CHANNEL_ID_FOR_YOUTUBERS_LIST",
  "YOUTUBERS":[    
    "https://www.youtube.com/@abc",
    "https://www.youtube.com/@def",
    "https://www.youtube.com/@ghi",
  ],
  "TIME_DIFF_FROM_UST": 9
}